$button-width: 65px;

$color-background: #32292F;
$color-primary: #F0F7F4;
$color-accent: #99E1D9;
$color-accent-highlight: #70abaf;

$font-size-larger: 20px;
$font-size-regular: 16px;

$tablet-upwards: 600px;
