<header>
  <h1>Manufacturing Glossary</h1>

  <main class="navigation-and-letter-data">
    <nav class="navigation-container">
      <button class="entry-add" (click)="createEntry($event)">
        Create entry
      </button>
      <button class="entry-edit" (click)="createEntry($event)">
        Modify entry
      </button>
      <button class="entry-delete" (click)="createEntry($event)">
        Delete entry
      </button>
    </nav>

    <ul class="letters-list">
      <li class="letters-item" *ngFor="let letter of letters">
        <button class="btn-outline letter" (click)="selectLetter(letter)">
          {{ letter }}
        </button>
      </li>
    </ul>
  </main>
</header>
