@import '../../app/styles/utils';

.letters {
  &-list {
    display: flex;
    justify-content: space-between;
    margin: $grid-2x 0;
  }

  &-item {
    margin: 0 $grid-half;

    &:first-of-type {
      margin-left: 0;
    }
  }
}
