@import '../../app/styles/utils';

.actions-container {
  margin: $grid-6x 0;
}
.letters {
  &-list {
    display: flex;
    justify-content: space-between;
    margin: $grid-3x 0 0;
  }

  &-item {
    margin: 0 $grid-half;

    &:first-of-type {
      margin-left: 0;
    }
  }
}
