@import '../app/styles/variables';
@import '../app/styles/utils';

.data {
  &-list {
    margin-top: $grid-2x;
  }

  &-item {
    margin: $grid-3x 0;

    h3 {
      color: lighten($color-background, 50%);
    }
  }
}
