@import '../app/styles/variables';
@import '../app/styles/utils';

.data {
  &-list {
    margin-top: $grid-2x;
  }

  &-item {
    margin: $grid-3x 0;

    h3 {
      color: lighten($color-background, 50%);
    }
  }
}

.no-entries {
  margin: $grid-2x;
}

@media (min-width: $tablet-upwards) {
  .no-entries {
    margin: $grid-2x 0;
  }
}
