/* You can add global styles to this file, and also import other style files */

@import "app/styles/variables";
@import "app/styles/utils";

body {
  margin: 0;
  padding: 0;
  max-width: 1000px;
  background: $color-background;
  color: $color-primary;
  font-family: "Barlow", Roboto, sans-serif;
  padding: 0 $grid-5x;
}

h1 {
  font-weight: 600;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: $grid $grid-2x;
  font-size: $font-size-regular;
  background: darken($color-accent, 40%);
  border: 1px solid $color-accent-highlight;
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.4);
  color: $color-primary;
  cursor: pointer;
  transition: ease-in-out 0.2s;

  &:hover {
    background: darken($color-accent, 35%);
  }

  &.btn-outline {
    background: darken($color-accent, 60%);

    &:hover {
      background: darken($color-accent, 55%);
    }
  }
}
